<div class ="jumbotron">
  <h1>Welcome to the CheckList</h1>
  <p>Keep Track of your progress at work</p>

  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log in ", new_user_session_path, class:"btn btn-primary"  %>


</div>
